@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap"); */
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --almarai_font: "Almarai", sans-serif;
} */

body {
  font-family: inherit !important;
  font-weight: 500;
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  /* font-family: "Almarai", sans-serif !important; */
  background: #fff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.animate-spin {
  animation: spin 15s linear infinite !important;
}

.custom_container {
  width: 88.8%;
  margin: 0 auto;
}

.hero_swiper {
  width: 100%;
  z-index: 0 !important;
}

.hero_swiper .swiper-pagination-bullet {
  background-color: #dbd9e7;
  opacity: 1;
  width: 16px;
  height: 16px;
  margin: 0 8px !important;
}
.hero_swiper .swiper-pagination-bullet-active {
  background-color: #18ad8f;
  width: 48px;
  border-radius: 16px;
}
.hero_swiper .swiper-pagination-bullets {
  bottom: 24px !important;
}

@media (min-width: 768px) {
  .hero_swiper {
    height: 100vh;
  }
}
@media screen and (max-width: 768px) {
  .custom_container {
    width: 91.4%;
    margin: 0 auto;
  }
  .hero_swiper {
    width: 100%;
    height: 600px !important;
    z-index: 0 !important;
  }
  .hero_swiper .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin: 0 5px !important;
  }
  .hero_swiper .swiper-pagination-bullet-active {
    width: 32px;
    border-radius: 16px;
  }
  .hero_swiper .swiper-pagination-bullets {
    bottom: 12px !important;
  }
}

.text-ellipsis-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
}

.text-ellipsis-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
}
.text-ellipsis-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
}
.text-ellipsis-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
}
.text-ellipsis-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
}
.text-ellipsis-7 {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
}

.TestimonialsSwiper {
  z-index: 10 !important;
}

.TestimonialsSwiper .swiper-pagination-bullet {
  background-color: #424243;
  opacity: 1;
  width: 15px;
  height: 15px;
  margin: 0 4px !important;
}
.TestimonialsSwiper .swiper-pagination-bullet-active {
  background-color: #18ad8f;
  width: 50px;
  border-radius: 15px;
}
.TestimonialsSwiper .swiper-pagination-bullets {
  bottom: 24px !important;
}

/* .contact_button {
  z-index: 1000 !important;
} */
.TestimonialsSwiper {
  overflow: visible !important;
}

.RentSwiper {
  overflow: visible !important;
}
.SaleSwiper {
  overflow: visible !important;
}

.react-rater {
  font-size: 23px;
  flex: row;
  justify-items: center;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .react-rater {
    font-size: 20px !important;
  }
}
.react-rater-star.is-active {
  color: #e9b629 !important;
}
.react-rater-star.will-be-active {
  color: #e9b6298f !important;
}
.react-rater-star.is-active-half::before {
  color: #e9b629 !important;
}

:dir(rtl) .react-rater-star.is-active-half::before {
  right: 0 !important;
}

.custom-star-rater .react-rater {
  font-size: 27px;
  flex: row;
  justify-items: center;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.project_gallery.swiper {
  width: 100%;
  height: 100%;
  position: static !important;
}

.project_gallery .swiper-button-next,
.project_gallery .swiper-button-prev {
  background-color: #18ad8f;
  width: 32px !important;
  height: 32px !important;
  border-radius: 50%;
  font-weight: bold !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project_gallery .swiper-button-next {
  right: -15px !important;
  left: auto !important;
}

.project_gallery .swiper-button-prev {
  left: -15px !important;
  right: auto !important;
}

.project_gallery.swiper-rtl .swiper-button-next {
  left: -15px !important ;
  right: auto !important;
}

.project_gallery.swiper-rtl .swiper-button-prev {
  right: -15px !important ;
  left: auto !important;
}
.project_gallery .swiper-button-prev:after,
.project_gallery .swiper-button-next:after {
  font-size: 18px !important;
  color: #fff;
}

/* time picker */
.MuiMultiSectionDigitalClock-root {
  direction: ltr !important;
}

/* Base styling for the TextField */
.MuiTextField-root {
  width: 100%;
  height: 48px;
  /* border: 1px solid #18ad8f; */
  border-radius: 10px;
  outline: none;
}

/* Specific styling for the Outlined Input */
.MuiOutlinedInput-root {
  width: 100%;
  height: 48px;
  border: 1px solid #d3c5c5;
  border-radius: 10px;
  outline: none;
  box-sizing: border-box;
  padding: 0 8px;
}

.MuiOutlinedInput-notchedOutline {
  display: none !important;
}
.MuiIconButton-root {
  color: #18ad8f !important;
}

.disabled-date {
  pointer-events: none;
  opacity: 0.5;
  text-decoration: line-through;
}
